<div class="container">
<h1>Pass data parent to child component</h1>
<p>Child component </p>

<div style="padding-left: 100px;">
    <table class=" table">
        <thead class="table thead-dark">
            <tr>
                <td>Name</td>
                <td>Age</td>
                <td>Picture</td>
            </tr>
        </thead>
        <tr><td><h2>The name is <b>{{hero[0].name}}</b> </h2></td>
        <td><h2>The age is {{hero[0].age}}</h2></td>
        <td><img src="{{hero[0].img}}"></td>
        </tr>
        




<tr><td><h2>The name is <b>{{hero[1].name}}</b> </h2></td>
<td><h2>The age is {{hero[1].age}}</h2></td>
<td><img style="width: 300px;" src="{{hero[1].img}}"></td>
</tr>




    </table>
    

</div>

</div>
