<app-users [hero]="data"></app-users>
<br>
<hr>
<app-user (parentFunction)="parentFunction($event)"></app-user>

<br>
<br>
<h1 style="margin-left: 400px;"> This name is <b> {{name}} </b>and age is {{age}}</h1>


<hr>
<div class="container">
<app-parent1></app-parent1>
<app-parent2></app-parent2>
<app-parent3></app-parent3>
<br>
<h2>This is the component to component interaction</h2>
</div>
<br><br>

<div class="container">
    <table border="1">
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>User Id</td>
        </tr>
        <tr *ngFor="let item of data1">
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.userId}}</td>
        </tr>
    </table>
</div>
<app-parent1></app-parent1>
<h1>{{counter}}</h1>
<br>
<div class="container">
    <input placeholder="Search" [formControl]='searchControl' name="search">

<hr>

<button (click)="dataGet()">Get Data</button>
{{error}}
<p></p>
<p> </p>
</div>